@{

    var curso = ViewBag.Curso;
}

<h4>Nossos Cursos</h4>

<div class="card" style="width: 15rem;">
    <img src="~/img/CardCursoTI.jpeg" class="card-img-top" alt="1000px">
    <div class="card-body" Id="Card">
        <h5 class="card-title">@curso?.Nome</h5>
        <p class="card-text">@curso?.Titulo</p>
        <p class="card-text">@curso?.Descricao</p>
        


        <div class="row">
    <div class="col">
        <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample1" role="button"
                aria-expanded="false" aria-controls="collapseExample1">
                Descrição
            </a>
        </p>
        <div class="collapse collapse horizontal" id="collapseExample1">
            <div class="card card-body">
                @curso?.Descricao
            </div>
        </div>
    </div>
    <footer class="card-footer">Carga Horária: @curso?.CargaHoraria</footer>
</div>